<!DOCTYPE html>
<head>
  {% load static %}
  <script language="javascript" type="text/javascript" src="{% static 'snake/js/resources/p5.min.js' %}"></script>
  <script language="javascript" type="text/javascript" src="{% static 'snake/js/sketch.js' %}"></script>
  <script language="javascript" type="text/javascript" src="{% static 'snake/js/snake.js' %}"></script>
  <title>Site</title>
</head>
<body>
	<p>Here is the canvas. START</p>
	<div id="canvas-holder"></div>
	<p>Should end here.</p>
</body>
</html>