<!-- footer -->
<footer class="site-footer">
  <div class="row top-buffer-abs">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center socio-icons">
      <a href="https://www.facebook.com/don.kool">
        <i class="fa fa-facebook-square fa-1x" aria-hidden="true"></i>
      </a> &nbsp;
      <a href="mainto:don@dkdennis.xyz?Subject=Hello%20There">
        <i class="fa fa-envelope fa-1x" aria-hidden="true"></i>
      </a> &nbsp;
      <a href="https://in.linkedin.com/in/donkdennis">
        <i class="fa fa-linkedin-square fa-1x" aria-hidden="true"></i>
      </a> &nbsp;
      <a href="https://github.com/metastableB">
        <i class="fa fa-github-square fa-1x" aria-hidden="true"></i>
      </a>
    </div>  
    <div class="col-sm-4"></div>
  </div>
</footer>
